body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background: #ffffff;
  color: #1e1b1b;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
/* Navbar Design */

.navbar {
  width: 100%;
  height: auto;
  margin: 10px 0px;
}

.nav-items {
  margin: 10px 100px;
}

.container {
  width: 100%;
  margin: 0px 0px;
}

.row {
  display: flex;
  width: 100%;
}

.container-fluid {
  padding: 10px 0px;
}

.navbar-white {
  background: #ffffff;
}

.navbar-right {
  margin-left: 50%;
  margin-right: 0px;
}

.h2 {
  font-size: 58px;
  line-height: 76px;
}

.h3 {
  font-size: 48px;
  line-height: 140%;
}

.h4 {
  font-size: 24px;
  line-height: 36px;
}

ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
}
.li {
  padding: 0px 20px 0px 0px;
}

.stick {
  width: 1px;
  height: 30px;
  background-color: #eee;
}

a {
  text-decoration: none;
}

.text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.03em;
}

.text-white {
  color: #ffffff;
  font-weight: 600;
}

.text-dark {
  color: #1e1b1b;
}

.text-secondary {
  color: #661ce7;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-sec {
  /* margin-top: 40px; */
}

.dropdown {
  padding-left: 0px;
}

.img-whatsapp {
  width: 40px;
  height: 40px;
}

.num {
  margin: 0px;
}

.stick-home {
  padding: 0px 5px 0px 0px;
}

.img-li {
  padding-right: 0px;
}

/* Header Content */

.col6 {
  width: 50%;
}

.h1 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
  color: #1e1b1b;
  width: 75%;
}

.vehicle {
  width: 100%;
}

.div-items {
  margin: 0px 100px;
  margin-right: 0px;
}

.worker-section {
  background: url("https://res.cloudinary.com/pacifylabs/image/upload/v1651870025/Image_1_nn4oby.png");
  width: 100%;
  height: 632px;
  background-repeat: no-repeat;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 40px;
  outline: none;
  border: none;
}

.btn-primary {
  background: #ff6433;
  border-radius: 12px;
  color: #fff;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  cursor: pointer;
}

.btn-dark {
  background: #1e1b1b;
  border-radius: 12px;
  color: #fff;
}

.btn-left {
  left: 16.06%;
}

.btn-contact {
}

.flex {
  display: flex;
}

.flex-items {
  justify-content: space-between;
}

.top-icon {
  width: 50px;
  height: 50px;
  margin-top: 50px;
}

.font-icon {
  width: 36px;
  height: 36px;
  color: #ffb648;
  margin: 0px 5px;
  margin-top: 30px;
}

.open {
  width: 93px;
  height: 24px;
  color: #939191;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 50px;
  margin-left: 10px;
}

.monday {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #1e1b1b;
  width: 331px;
  margin-top: -20px;
  margin-left: 10px;
}

.bg-l {
  width: 250px;
  height: 72px;
  margin-top: 100px;
  margin-left: -30px;
  background: linear-gradient(138.85deg, #ffffff -38.72%, #ffffff 153.95%);
  border: 12px solid transparent;
  box-shadow: 0px 0px 0px 15px rgba(109, 108, 115, 0.5);
  border-radius: 59px;
}

.bg-r {
  width: 250px;
  height: 72px;
  margin-left: 350px;
  margin-top: 250px;
  background: linear-gradient(138.85deg, #ffffff -38.72%, #ffffff 153.95%);
  border: 12px solid transparent;
  box-shadow: 0px 0px 0px 15px rgba(109, 108, 115, 0.5);
  border-radius: 59px;
}

.bg-green {
  width: 69.66px;
  height: 70px;
  margin-left: 10px;
  background: #5cba99;
  border-radius: 50%;
}

.bg-primary {
  background: #ff6433;
}

.bg-default {
  background: #e2e6e9;
}

.bg-secondary {
  background: #fff;
}

.bg-white {
  background: #fff;
}

.bg-dark {
  background: #1e1b1b;
}

.t24 {
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  margin-left: 15px;
  margin-top: 15px;
}

.t4 {
  font-size: 24px;
  line-height: 36px;
  color: #000;
  margin-top: 20px;
}

.hr {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  margin-top: -52px;
  margin-left: 40px;
}

.service {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1e1b1b;
  margin-top: 15px;
  margin-left: 5px;
}

.rating-holder {
  margin-top: 10px;
}

.rating {
  margin-top: -5px;
  margin-left: 5px;
}

.services-container {
  margin-top: 65px;
  padding-bottom: 45px;
}

.services-icon {
  /* margin-top: 40px; */
}

.services-container01 {
  /* margin-left: ; */
}

.services-container02 {
}

.circle-container {
}

.services-container-text01 {
  width: 583px;
  height: auto;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}

.services-container-text02 {
  width: 413px;
  height: auto;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}

.side {
  margin-left: 15%;
}

.circle-primary {
  margin-right: 10px;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #fff;
}

.circle-secondary {
  width: 72px;
  height: 72px;
  background: #661ce7;
  border-radius: 50%;
}

.qoute-circle {
  margin-top: 25px;
  margin-right: 10px;
}

.qoute {
  margin-top: 50px;
}

.circle-qoute {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
}

.circle-appoint {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  margin-top: 50px;
}

.circle-done {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  margin-top: 50px;
}

.line {
  width: 71px;
  height: 0px;
  border: 2px dashed #ff6433;
  transform: rotate(90deg);
}

.line01 {
  margin-top: 45px;
}

.line02 {
  margin-top: 45px;
}

.Convenient {
  width: 210px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1e1b1b;
  margin-top: 0px;
}

.Expert {
  width: 210px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1e1b1b;
  margin-top: 0px;
}

.Transparent {
  width: 210px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1e1b1b;
  margin-top: 0px;
}

.Convenient-text {
  width: 322px;
  font-size: 16px;
  line-height: 28px;
  color: #1e1b1b;
  opacity: 0.6;
  margin-top: -30px;
}

.Expert-text {
  width: 322px;
  font-size: 16px;
  line-height: 28px;
  color: #1e1b1b;
  opacity: 0.6;
  margin-top: -30px;
}

.Transparent-text {
  width: 322px;
  font-size: 16px;
  line-height: 28px;
  color: #1e1b1b;
  opacity: 0.6;
  margin-top: -30px;
}

.more {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  margin-left: 55px;
}

.form-control {
  background-color: #fff;
  border-radius: 2px;
  padding: 22.94px 40.33px;
  margin: 20px 0px 0px 0px;
  width: 70%;
  border: none;
  outline: none;
}

.Get {
  margin: 20px 0px;
}

.follow {
  width: 524px;
  height: 228px;
}

.subtext {
  font-weight: 600;
  color: #1e1b1b;
  opacity: 0.6;
}

.st {
  margin-top: 60px;
}

.st01 {
  width: 437px;
  height: 56px;
  font-size: 16px;
  line-height: 28px;
  margin-top: -50px;
}

.btn-through {
}

.quote-text-heading {
  font-size: 32px;
  line-height: 48px;
  margin-top: 20px;
}

.appoint-text-heading {
  font-size: 32px;
  line-height: 48px;
}

.done-text-heading {
  font-size: 32px;
  line-height: 48px;
}

.st02 {
  width: 336px;
  height: 96px;
  margin-top: -25px;
}

.st03 {
  width: 336px;
  height: 96px;
  margin-top: -25px;
}

.st04 {
  width: 336px;
  height: 96px;
  margin-top: -25px;
}

.section03 {
  width: 100%;
  height: auto;
  background: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 50px;
}

.offer-heading {
  width: 154px;
  height: 36px;
  margin-left: 40%;
}

.row {
  width: 100%;
  display: inline-flex;
}

.offer-text {
  width: 758px;
  height: 152px;
  text-align: center;
  margin-left: 20%;
}

.box-offer {
  width: 250px;
  height: 200px;
  margin: 5px 5px;
}

.box-offer:hover {
  background: #ff6433;
  color: #fff;
}

.text-offer {
  margin-top: 100px;
}

.offer-section01 {
  margin-left: 10%;
}

.offer-section02 {
  margin-left: 10%;
}

.arrow {
  margin-top: 50px;
  margin-left: 800px;
}

.img-container {
  width: 100%;
}

.pro {
  width: 550px;
  height: 340px;
  margin-left: 300px;
  padding-left: 70px;
  padding-top: 10px;
}

.img01 {
  background: url("https://res.cloudinary.com/pacifylabs/image/upload/v1652055205/image_2022-05-08_171315973_dlqcif.png");
  width: 50%;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.img02 {
  background: url("https://res.cloudinary.com/pacifylabs/image/upload/v1652055368/ovGrEUgrkyE_veadei.png");
  width: 50%;
  height: 350px;
  z-index: 0;
}

.counter {
  width: 100%;
}

.prof {
  width: 104px;
  height: 76px;
  margin-left: 150px;
}

.year {
  width: 104px;
  height: 76px;
  margin-left: 150px;
}

.close {
  width: 104px;
  height: 76px;
  margin-left: 150px;
}

.customer {
  width: 104px;
  height: 76px;
  margin-left: 150px;
}

.text-prof {
  width: 131px;
  height: 36px;
  margin-left: 150px;
}

.text-year {
  width: 172px;
  height: 36px;
  margin-left: 150px;
}

.text-close {
  width: 162px;
  height: 36px;
  margin-left: 150px;
}

.text-customer {
  width: 245px;
  height: 36px;
  margin-left: 150px;
}

.brand-container {
  width: 100%;
  padding-bottom: 50px;
}

.brand-text {
  width: 362px;
  height: 67px;
  margin-left: 40%;
}

.brand-container-first {
  margin-left: 3%;
}

.brand-container-second {
  margin-left: 3%;
  margin-top: 50px;
}

.brand-img {
  padding: 0px 20px;
}

.card-header {
  text-align: center;
  width: 700px;
  margin-left: 25%;
}

.card {
  width: 30%;
  padding: 50px;
  margin: 40px 15px;
  background: #ffffff;
  border: 1px solid rgba(172, 172, 172, 0.29);
  box-shadow: 11px 130px 100px 30px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  margin-left: 200px;
}

.card02 {
  margin-left: 0px;
}

.customer-container {
  padding-top: 20px;
  background: #f2f2f2;
  width: 100%;
}

.card-span {
  width: 32px;
  height: 0px;
  border: 2px solid #939191;
  margin: 0px 2px;
}

.line-primary {
  border: 2px solid #ff6433;
}

.grid {
  margin-left: 630px;
  margin-bottom: 20px;
}

.circle {
  margin-left: 350px;
}

.circle-items {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-top: -20px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.smith {
  margin-top: 0px;
  margin-left: 10px;
}

.smith-text {
  margin-top: -30px;
  margin-left: 10px;
}

.faq-container {
  width: 100%;
  height: auto;
  padding: 50px 0px;
}

.card-faq {
  width: 520px;
  /* height: 226px; */
  margin-left: 420px;
  padding: 20px;
  margin-bottom: 10px;
}

.faq-btn {
  width: 50px;
  height: 50px;
}

.card-faq02 {
  height: 50px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.minus {
  border-radius: 0%;
  margin-left: 470px;
  border: none;
  outline: none;
}

.repair {
  margin-top: -50px;
}

.schedule {
  margin-top: -45px;
}

.plus {
  border-radius: 0%;
  margin-left: 470px;
  margin-top: 5px;
  border: none;
  outline: none;
}

.footer {
  width: 100%;
  height: 520px;
}

.footer-h3 {
  width: 463px;
  height: 134px;
  margin-left: 150px;
  margin-top: 128px;
  margin-right: 50px;
}

.address {
  margin-top: -30px;
}

.open02 {
  margin-top: -30px;
}

.help-line {
  color: #ffffff;
  opacity: 0.6;
}

.help-number {
  margin-top: -20px;
  width: 500px;
}

.help-address {
  color: #ffffff;
  opacity: 0.6;
}

.help-add {
  margin-top: -20px;
  width: 500px;
}

.help-open {
  color: #ffffff;
  opacity: 0.6;
}

.help-day {
  margin-top: -20px;
  width: 500px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #000;
}

.footer-logo {
  margin-left: 300px;
  /* margin-top: 30px; */
}

.footer-nav {
  /* margin-top: 50px; */
  margin-left: 550px;
  align-items: center;
}

.footer-icons {
  margin-left: 150px;
}

.footer-icon {
  width: 24px;
  height: 24px;
  padding-right: 5px;
}

.second {
  margin-top: 30px;
}
